/* HOME */
.main-home {
    margin: 0 0 200px 0;
}

.main-home .hero {
    margin-bottom: 20px;
}

.main-home .hero img {
    width: 100vw;
    height: 600px;
    object-fit: cover;
}

.main-home h1 {
    width: 70%;
    margin-bottom: 150px;
}

.main-home section {
    display: flex;
    justify-content: center;
    gap: 150px;
}

.main-home .home-card {
    width: 400px;
    height: 270px;
    box-shadow: 5px 5px 6px rgba(255, 255, 255, 0.8);

    display: flex;
    flex-direction: column;
}

.main-home .home-card h2 {
    margin-bottom: 20px;
    padding: 10px 0 0 20px;
}

.main-home .home-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
