/* FAVORITES */
.main-favorites h1 {
    margin-bottom: 50px;
}

.main-favorites .characters-favorites h2,
.main-favorites .comics-favorites h2 {
    margin-bottom: 20px;
    margin-top: 50px;
}

.main-favorites .characters-favorites p,
.main-favorites .comics-favorites p {
    margin-bottom: 50px;
}
