.main-character {
    margin-top: 40px;
}

.main-character h1 {
    font-size: 4rem;
    line-height: 1.3;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.main-character h2 {
    font-size: 2rem;
    line-height: 1.3;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.main-character .comics {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;

    margin-bottom: 40px;
}

.main-character .character {
    width: 100%;
    height: 290px;
    margin-bottom: 100px;

    display: flex;
    flex-direction: column;

    overflow: hidden;
}

.main-character .character .content {
    width: 100%;
    height: 100%;

    display: flex;
}

.main-character .character .content p {
    padding: 0 50px;
    text-align: justify;
    line-height: 1.2;
}
