.comic-card {
    border: 1px solid #666;
    border-radius: 5px;
    width: calc((100% - 50px) / 2);
    height: 290px;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    /* transition: all 0.5s ease;
    position: relative; */
}

/* .comic-card::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(0deg, transparent, transparent 30%, rgba(255, 0, 0, 0.7));
    transform: rotate(-45deg);
    transition: all 0.5s ease;
    opacity: 0;
}

.comic-card:hover {
    cursor: pointer;

    transform: scale(1.05);
    box-shadow: 0 0 40px rgba(255, 0, 0, 0.8);
}

.comic-card:hover::before {
    opacity: 1;
    transform: rotate(-45deg) translateY(100%);
} */

.comic-card h2 {
    color: #fff;
    padding: 10px;
}

.comic-card .content {
    width: 100%;
    height: 100%;

    display: flex;
}

.comic-card .content p {
    padding: 0 20px;
    text-align: justify;
    line-height: 1.2;
}
